
<div class="page-main">
  <div class="page-header">
    <h1 class="page-title">Harness Testing Grounds</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Force Control</h3>
      </div>
      <div class="panel-body">

        <p>Select the command below to be sent to the harness for display.</p>
        <div class="list-group">
          <a class="list-group-item waves-effect waves-block waves-classic" href="javascript:mqttPublish('clear')">Clear</a>
          <a class="list-group-item waves-effect waves-block waves-classic" href="javascript:mqttPublish('test')">Test</a>
        </div>

      </div>
    </div>
  </div>
</div>
