
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {{> head/meta }}
  <title>Illumi-Nauthy Ctrl | Base</title>
  {{> head/icons }}
  <!-- Stylesheets -->
  {{> head/style/bootstrap }}
  <link rel="stylesheet" href="static/base/assets/css/site.min.css">
  <!-- Plugins -->
  {{> head/style/plugins }}
  <!-- Fonts -->
  {{> head/fonts}}

  {{> head/ie}}

  {{> head/breakpoints }}

</head>
<body class="animsition page-aside-left">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  {{> nav/nav-bar}}
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          {{> site/menu/main }}

          {{> site/menu/menu-bar }}
        </div>
      </div>
    </div>
    {{> site/menu/tool-bar}}
  </div>
  <div class="page">
    {{> page/aside }}
    {{{ body }}}
  </div>
  <!-- Footer -->
  <!-- <footer class="site-footer">
    <div class="site-footer-legal">© 2017 <a href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Illumi-Naughty</a></div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by <a href="http://themeforest.net/user/amazingSurge">amazingSurge</a>
    </div>
  </footer> -->
  {{> footer }}
  <!-- Core  -->
  {{> scripts/core }}
  <!-- Plugins -->
  {{> scripts/plugins }}
  <!-- Scripts -->
  {{> scripts/scripts }}
  <!-- Page -->
  {{> scripts/page }}

  <!-- Custom Scripts -->
  <script src="static/master.js"></script>


  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>
</body>
</html>
