<footer class="site-footer">
  <div class="site-footer-legal">&copy; 2017 <a href="https://twitter.com/IllumiN0ty">Illumi-Naughty</a></div>
  <div class="site-footer-right">
    <a href="https://twitter.com/IllumiN0ty" target="_blank">
      <!-- TODO Balance twitter icon vertically -->
      <i class="icon bd-twitter" aria-hidden="true"></i>
    </a>
  </div>
</footer>
